a {
  color: #11999E;
  text-decoration: none;
  padding: 20px;
}
.button {
  background-color: #32b8c2;
  border: none;
  border-radius: 12px;
  color: white;
  margin: 40px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}
.bottom-container{
  margin: 10px 0 1px 0;
  padding: 30px;
  line-height: 2;
  background-color: #66BFBF;

}
.bottom-p{
  color: white;
  font-size: 0.5em;
}


body {
  background-color: aliceblue;
  font-family: 'Merriweather', serif;
  font-size: 100%;
  margin: 0;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.bottom-cl {
  bottom: 18.75em;
  left: 11.25em;
  position: absolute;
}

.desc {
  font-weight: normal;
}

.h {
  color: #66BFBF;
  font-family: 'Mr De Haviland', cursive;
  font-size: 5.65rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
border: dotted;
border-bottom: 0;
border-width: 6px;
color: #bac7a7;
margin: 50px auto;
width: 3%;
}

.my-image {
  height: 25%;
  width: 16%;
}
.rain-bottom{
  bottom: 3.750em;
  height: 15.625em;
  left: 11.875em;
  position: absolute;
  width: 11.25em;
}
.rain-top{
  height: 15.625em;
  position: absolute;
  right: 13.125em;
  top: 9.375em;
  width: 11.25em;
}
.skill-row{
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}
.skill-img{
  float: left;
  margin-right: 30px;
  width: 25%;
}
.img2{
  float: right;
  margin-left: 30px;
}
.top-cl {
  position: absolute;
  right: 12.500em;
  top: 3.125em;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

/*.red{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  left:200px;
  top:200px;
}
.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  position:absolute;
}
.blue{
  height: 100px;
  width: 100px;
  background-color: blue;
  position:absolute;
  top: 100px;
  left:100px;
}
body{
  margin:0;
}
*/
